@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* font-family: 'Roboto', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #fafafa; */
}
#home{
    font-size: 6vh;
    font-weight: bold;
    font-family: 'Cookie', cursive;
    color: #303030;

}
.fa-brands, .fa-solid, .fa-regular{
    font-size: 3.5vh;
    color: #303030;
    padding: 5px;

}
body{
    background-color: #fafafa;
}
#login-heading{
    font-family: 'Cookie', cursive;
    padding:4%;
    text-align: center;
    font-size: 7vh;
    font-weight: 900;
    color: #303030;

}
#login-btn, #register-btn{
    background-color:#b2dffc ;
    width: 80%;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    margin-bottom: 3%;
}
#login-page, #register-page{
    background-color: #fafafa;
}
#login-form, #form{
    border: 1px solid grey;
}
#register-redirect, #login-redirect{
    height: 10vh;
    width: 100%;
    border: 1px solid grey;
    background-color: #fff;
    padding: 4%;
}
#form .desc{
    font-weight: bold;
    color: #303030;
    font-size: 2.5vh;
}
#facebook{
    display: block;
    margin: 0 auto;
    width: 70%;
    color: #fff;
    font-weight: bold;

}
#exampleModalLabel{
    text-align: center;
}
#card-title{
    border-bottom: 2px solid #b2dffc;
}
.image-user{
    width: 100%;
    height: 100%;
}
#body{
    background-color: #fafafa;
}
#name{
    font-weight: bold;
    font-size: 2vh;

}
#caption{
    font-size: 2.5vh;
    line-height: 1.8;
    
}
#date{
    font-style: italic;
    font-weight: bold;
    font-size: 2vh;
    color: #1e677f;
    
}
#my-mages{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
#update{
    
    float: right;
}
.container{
    background-color: #fafafa;
}
#user-user{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#card-outline{
    outline: none;
    border: none;
}
#center{
    /* align-items: center; */
    border: 1px solid #303030;
}
#welcome{
    background-color: #fafafa;
}
.icons{
    font-size: 4vh;
}
#user-user{
    width: 100%;
}
#two{
    margin-top: -2%;
}
#user-pass, #user-icon{
    height: 78vh;
}