{% extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid mt-2" id="welcome">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Create a new post </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {% bootstrap_form form_one%}
            <input type="submit" class="btn btn-primary btn-sm" value="Create Post">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 card">


    </div>
  </div>

  <!-- main Page content -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <!-- Button trigger modal -->
      {% for image in images %}
      <div class="card mb-4" id="center">
        <div class="card-header">
          {% if request.user.profile.image %}
          <img src="{{request.user.profile.image.url}}" width="40px" height="40px" class=" rounded-circle" alt="">
          {% else %}
          <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="40px" height="40px"
            class=" rounded-circle" alt="">
          {% endif %}
          <small class="m-1">{{request.user.username}}</small>
        </div>
        <a href="{{ image.id }}" data-toggle="modal" data-target="#exampleModal{{image.id}}"
          data-target="#staticBackdrop">
          <div class="card" id="card-outline">
            <img src="{{image.image.url}}" alt="Image" id="user-user">
          </div>
        </a>
        <section>
          <i class="fa-regular fa-heart m-2 icons text-danger"></i>
          <i class="fa-regular fa-comments m-2 icons text-primary"></i>
          <i class="fa-solid fa-paper-plane m-2 icons text-primary"></i>
          <span class="float-md-right icons">
            <i class="fa-regular fa-bookmark m-2 icons"></i>
          </span>
          <br>

          <small class="m-2">Posted:{{image.date_posted|timesince}}</small>
        </section>
        <div class="card-footer">
          {% for comment in comments %}
          <small>{{comment.user}}: {{comment.content}}</small>
          <br>
          <small>{{comment.commented_at | timesince}}</small>
          <hr>
          {% endfor %}
        </div>
      </div>
      {% empty %}
      <div class="row">
        <p class="text-center">No Posts for now</p>
      </div>
      {% endfor %}

      {% for image in images %}
      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" id="body">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{image.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="row">
                <div class="col-md-6">
                  <img src="{{image.image.url}}" alt="user Image" class="image-user">
                </div>
                <div class="col-md-6">
                  {% if request.user.profile.image %}
                  <img src="{{request.user.profile.image.url}}" class="rounded-circle" alt=""
                    style="height:75px; width:75px;">
                  {% else %}
                  <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                    class="rounded-circle" alt="" style="height:50px; width:50px;">
                  {% endif %}

                  <span id="name">{{user.username}}</span>
                  <p id="caption">{{image.caption}}</p>
                  <p id="date">Edited:{{image.date_posted}}</p>
                  <hr>
                  {% for comment in comments %}
                  <small>{{comment.user}}:
                    {{comment.content}}</small>
                  <small>{{comment.commented_at | timesince}}</small>
                  <hr>
                  {% endfor %}
                  <section id="comments-section">
                    <a href="post/{{image.id}}/like"><i
                        class="fa-solid fa-heart text-danger"></i></a>Likes:{{image.likes_count.count}}
                    <a href="comment/{{image.id}}/comment"><i class="fa-solid fa-comments text-info "></i>Comment</a>

                  </section>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      <!-- </div> -->
    </div>
    <div class="col-md-4 position-fixed offset-6">

      <div class="me">
        

      </div>
      <h5>suggestions for you</h5>
      {% for user in users %}
      <div class="row my-3">
        <div class="col-md-6">
          <a href="{{profile.user.username }}"><span class="users">{{user.username}}</span></a>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-sm float-md-right">Follow</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock content %}