{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container-fluid" id="login-page">

  <p class="text-center text-white">Login</p>
  <div class="row">
    <div class="col-md-2" id="two"></div>
    <div class="col-md-4">
      <img src="/static/images/insta-login.png" alt="" id="user-pass">
    </div>
    <div class="col-md-4">
      <form class="shadow-lg p-5" id="login-form" method="POST" action="">
        <h3 id="login-heading">Instagram</h3>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          <label class="sr-only" for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username..." name="username">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <label class="sr-only" for="inlineFormInputGroup">Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"></div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="password...."
              name="password">
          </div>
        </div>

        <button type="submit" class="btn mt-2" id="login-btn">Log In</button>



      </form>
      <p class="text-center mt-2" id="register-redirect">
        <small class="font-weight-bold text-center">Don't have an Account? <a href="{% url 'register'%}">Sign_up
            here</a></small>
      </p>
      <div class="apps">
         <p class="text-center">Get the app.</p>
        <img src="/static/images/play.png" id ="play" alt="play store">
        <img src="/static/images/app.png" id ="app"  alt="App store">
      </div>
    </div>
    
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock content %}