{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Create a new post </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #fafafa;">
            <form action="{%url 'new_post'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
    
                {% bootstrap_form form_one%}
                <input type="submit" class="btn btn-primary btn-sm" value="Create Post">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}